*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-color: #232920;
font-family: 'Prompt', sans-serif;
}

.logo {
width: 200px;
margin: 20px;
}

main {
    max-width: 786px;
    margin: 0 auto;
}

h1 {
    font-weight: 700;
    text-transform: uppercase;
}

h1, p {
  color: #fff;
  text-align: center;
}

#excluir {
    background-color: #bdbcbc;
    width: 16px;
    height: 16px;
    line-height: 0;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

.Botao1 {
   background-color: #32cdac;
   padding: 10px;
   border: none;
   flex: 1;
   height: 40px;
   margin-left: 10px;
   border-radius: 20px;
   color: #0f1726;
   font-size: 14px;
   font-weight: bold;
   cursor: pointer;
   text-transform: uppercase;
}

.Botao2 {
    background-color: #4f6791;
    padding: 10px;
    border: none;
    flex: 1;
    height: 40px;
    margin-left: 10px;
    border-radius: 20px;
    color: #0f1726;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.caixa {
    margin-top: 40px;
    text-align: center;
}

#lista {
    list-style: none;
}

#lista > li {
    background-color: #dbdbdb;
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-align: left;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tarefa-nova {
    background-color: #f1f1f1;
    border: 3px solid #32cdac;
    padding: 4px;
    width: 80%;
    height: 40px;
    outline: none;
    font-size: 14px;
    color: #0f1726;
    border-radius: 4px;
    margin-top: 90px;
}